# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# 忽略所有子目录下无后缀名的可执行文件（但不忽略目录本身）
# 例如 gcc sem.c -o s 生成的 s
**/[a-zA-Z0-9_+*/=-]*
!*.c
!*.h
!*.md
!*.txt
!*.gitignore
!*/
!**/

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo

# Vim swap files
*.swp
*.swo
*.swm
